h1{
    background-color: rgb(5, 190, 5);
    text-align: center;
    margin-top:0;
    padding:25px;
    
}
img{
    width:100px;
    height:100px;
    margin:auto;
    
}


body{
    display:flex;
    flex-direction:column;
    height: 100vh;
    margin:0;
    /*The height:100vh; and margin:0 makes the html take up the whole page */
    
}

.allNotitle{
    display:flex;

    justify-content: space-around;
    margin-bottom: auto;
    align-items:center;

    
}

.bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:0;
   padding:10px;
   
}

.pollutants{
    text-align: center;
    
}
.dates{
text-align: center;;
}
a{
    text-decoration: none;
}
.left-links{
    display:flex;
    gap:15px;
}
.right-links{
    display:flex;
    gap:15px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size:15px;
}

.mid{
    display: flex;
    margin:auto;
    
    
    
}
.display-unit{
   
    padding:10px;
}
.display-pollutants{

    padding:10px;
}
#frm{
    text-align: center;

}
#haha{
    display:flex;
    flex-direction: column;
}