h1{
    background-color: rgb(5, 190, 5);
    text-align: center;
    margin-top:0;
    padding:25px;
    
}
img{
    width:100px;
    height:100px;
    margin:auto;
    
}
.dropdown{
    display:inline-block;
}
.dropdown button{
    background-color: hsl(0,0%,80%);
    color:white;
    padding:10px 15px;
    border:none;
    cursor:pointer;
}
.dropdown a{
    display:block;
    color:black;
    text-decoration: none;
    padding:10px 15px;
    
}
.dropdown .units{
    display:none;
    background-color: hsl(0,0%,95%);
    position:absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0,0%,0%,0.8);
    
}
.dropdown:hover .units{
    display:block;
    
    /*This makes is so that when u hover over the button it drops down */
}
.dropdown:hover button{
    background-color: hsl(0,0%,70%);
}
.dropdown a:hover{
background-color: hsl(0,0%,90%);
}
body{
    display:flex;
    flex-direction:column;
    height: 100vh;
    /*The height:100vh; makes the html take up the whole page */
    
}

.allNotitle{
    display:flex;

    justify-content: space-around;
    margin-bottom: auto;
    align-items:center;

    
}

.bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:0;
   padding:10px;
   
}

.pollutants{
    text-align: center;
    
}
.dates{
text-align: center;;
}
a{
    text-decoration: none;
}
.left-links{
    display:flex;
    gap:15px;
}
.right-links{
    display:flex;
    gap:15px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size:15px;
}

.mid{
    margin:auto;
    display:flex
    
}
.display-unit{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
}
.display-pollutants{
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    flex-grow:1;
    padding:10px;
}
#frm{
    text-align: center;

}